/* Proyectos.module.css */

.proyectosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.proyecto {
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proyecto:hover {
  background-color: #ffe5e5;
}

.imagenProyecto {
  width: 100%;
  height: 215px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.descripcion {
  text-align: left;
}

.descripcion h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.descripcion {
  text-align: justify;
}

h2 {
  text-align: center;
}

.descripcion p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
}

@media (max-width: 1134px) {
  .projects {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 760px) {
  .projects {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
