/* .skillsContainer {
  text-align: center;
  margin-top: 50px;
}

.skillList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillRow {
  display: flex;
  justify-content: center;
}

.skill {
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 250px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.skill:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: rgb(250, 0, 0) 2px solid;
}

.skill span {
  margin-top: 10px;
}

.skill img {
  max-width: 100%;
  max-height: 100%;
} */
/* Skills.module.css */

/* Skills.module.css */

/* Skills.module.css */

/* Skills.module.css */

.skillsContainer {
  text-align: center;
  margin-top: 50px;
}

.skillList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillRow {
  display: flex;
  justify-content: center;
}

.skill {
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 250px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  overflow: hidden; /* Para ocultar el contenido que se desborda durante el desplazamiento */
  position: relative; /* Se necesita para establecer el contexto de la posición del pseudo-elemento */
}

.skill:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.skill:hover::before {
  content: ""; /* Pseudo-elemento para crear el efecto de borde */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid transparent;
  animation: borderAnimation 3s infinite linear; /* Duración, iteración y función de animación */
}

@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: #9400ff;
  }
  50% {
    border-color: transparent;
  }
  75% {
    border-color: #aed2ff;
  }
  100% {
    border-color: transparent;
  }
}

.skill span {
  margin-top: 10px; /* Espaciado entre el icono y el texto */
}

/* Ajustes para el icono en el caso de las últimas tres habilidades */
.skill img {
  max-width: 100%;
  max-height: 100%;
}
