.skillsContainer {
  text-align: center;
  margin-top: 50px;
}

.skillList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
}

.skill {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lastThreeSkills {
  grid-row: span 2; /* Ocupa dos filas en lugar de una */
}

.skill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 8px solid transparent;
  animation: borderAnimation 5s infinite linear;
}

.skill span {
  margin-top: 25px;
}

.skill img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1134px) {
  .skillList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 760px) {
  .skillList {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* @keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: #f857b5;
  }
  50% {
    border-color: #5d12d2;
  }
  75% {
    border-color: #ffdcdc;
  }
  100% {
    border-color: #b931fc;
  }
} */

@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: yellowgreen;
  }
  50% {
    border-color: #1aacac;
  }
  75% {
    border-color: #2e97a7;
  }
  100% {
    border-color: #eeeeee;
  }
}
