/* About.module.css */

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.imgContainer {
  flex: 1 1 100%;
  margin-bottom: 20px;
}

.h1 {
  text-align: center;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 420px;
  margin: 15px;
  padding: 10px;
  text-align: justify;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease;
}

.card h3 {
  color: #333;
  text-align: center;
}

.card p {
  color: #555;
}

.card:hover {
  background-color: #ffe5e5;
  color: black;
  font-weight: bold;
}

.imgAbout {
  width: 350px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.imgAboutSecurity {
  margin-left: 100px;
  margin-bottom: 18px;
  width: 550px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

@media (max-width: 1134px) {
  .cardWrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .imgAboutSecurity {
    width: 380px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
}

@media (max-width: 1074px) {
  .imgAboutSecurity {
    width: 380px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
}

@media (max-width: 760px) {
  .cardWrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .imgAboutSecurity {
    width: 380px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
}
