/* Home.module.css */

/* Home.module.css */

.homeContainer {
  text-align: center;
  margin-top: 100px; /* Ajusta según sea necesario */
}

.name {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.introText {
  font-size: 18px;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.322); /* Fondo transparente */

  padding: 20px; /* Ajusta según sea necesario */
  border-radius: 8px; /* Añade esquinas redondeadas si lo deseas */
  max-width: 600px; /* Ajusta según sea necesario */
  margin: 0 auto; /* Centra el bloque */
  margin-bottom: 30px;
}
