.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: #333;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

a:hover {
  color: #61dafb;
}

.menuToggle {
  display: none;
  cursor: pointer;
  color: pink;
}

.menuList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.languageToggle {
  display: flex;
  align-items: center;
  position: relative; /* Agregado para establecer un contexto de posicionamiento relativo */
}

.languageOptions {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%; /* Ajustado para estar debajo del elemento padre */
  left: 0;
  background-color: #333;
  width: 250px;
  height: auto;
  border-radius: 4px;
  z-index: 1;
}

.languageOptions li {
  padding: 10px;
  text-align: center;
}

.menuText {
  display: none;
}

.menuList li:hover,
.menuList a:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menuToggle {
    display: inline;
    font-size: 24px;
  }

  .menuList {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
  }

  .menuList.active {
    display: flex;
  }

  .menuList li {
    margin: 10px 0;
  }

  .languageToggle {
    margin-left: auto;
  }

  .translateTitle {
    display: none;
  }

  .languageOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .menuToggleContainer {
    display: flex;
    align-items: center;
  }

  .menuText {
    margin-left: 8px; /* Ajusta el margen según sea necesario */
    font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
    color: white;
    cursor: pointer;
    display: block;
  }
}
